/* 
    Created on : 19 sept 2023, 19:26:22
    Author     : Usuario
*/

/*para los elemntos de tipo id (especificos)*/
/*#encabezado{
    color: blueviolet;
    font-weight: bold;
}*/

/*las class son para varios elementos*/
/*.parrafosCentrados{
    text-align: center;
    font-weight: bold;
    color: slategrey;
}*/

/*.textoVerde{
    color: greenyellow;
}

p, h1, span{
    color:blue;
}

a:link{
    background-color: green;
    color: white;
}

a:visited{
    background-color: violet;
    color: white;
}

a:hover{
    background-color: darkblue;
    color: white;
}

a:active{
    background-color: red;
    color: white;
}

p:nth-child(odd){
    background-color: darksalmon;
}

p:nth-child(even){
    background-color: cadetblue;
}*/

/*
*{
    background-color: black;
}
*/

/*++++++++++++++++++++++++*/

#barralateral{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 0%;
    width: 20%;
    background-color: #B2B2B2;
    padding: 10px;
}

#contenido{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 20%;    
    width: 80%;
    background-color: #DADADA;
    padding: 10px;
}

#piePagina{
    position: absolute  ;
    height: 5%;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #818181;
    text-align: center;
    padding: 5px;
}